<div class="container index_home">
  <p id="notice"><%= notice %></p>
  
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4 calculator my-3">
          <%= form_with scope: :calculate, model: @calculate, local: false, class: "form-group my-4" do |form| %>
            <div class="field mb-3"><%= form.number_field :player, class: "form-control", placeholder: 'My elo' %></div>
            <div class="field mb-3"><%= form.number_field :opponent, class: "form-control", placeholder: 'Opp. Elo' %></div>
            <div class="field mb-3"><%= form.select :points, [ 1, 0.5, 0 ], { selected: params[:points] }, class:'form-control' %></div>
            <div class="field mb-3"><%= form.select :k_value, [ 40, 30, 20, 15, 10], {selected: params[:k_value]}, class:'form-control', placeholder: 'Select k' %></div>  
            <div class="field"><%= form.submit 'Calculate', class: 'btn btn-dark btn-block rounded mb-4' %></div>
          <% end %>
          <div class="result"></div>
        </div>
  
        <div class="col-md-8 notes mt-3">
          <h3>Help notes:</h3>
          <ul class="list-unstyled">
            <li ><strong>Rating - Rating of a player.</strong></li>
            <li><strong>Rc - Opponent rating.</strong></li>
            <li><strong>W - Score.</strong></li>
            <li><strong>K val - K</strong> is the development coefficient.</li>
            <li><strong>K</strong> is the development coefficient.</li><br>
            <li><strong>K = 40</strong> for a player new to the rating list until he hascompleted events with at least 30 games.</li>
            <li><strong>K = 20</strong> as long as a player's rating remains under 2400.<li>
            <li><strong>K = 10</strong> once a player's published rating has reached 2400and remains at that level subsequently, even if the rating drops below 2400.</li>
            <li><strong>K = 40</strong> for all players until their 18th birthday, as longas their rating remains under 2300.</li>
            <li><strong>K = 20</strong> for RAPID and BLITZ ratings all players.</li>
          </ul>
        </div>
    </div>
  </div>

  <div class="container pb-5">
    <p>* A difference in rating of more than 400 points shall be counted for rating purposes as though it were a difference of 400 points. More information in FIDE Handbook B02.8</p>
  </div>
</div>
</div>

  <div class="container text-center py-5">
    <%= link_to 'Show performance charts', new_user_session_path, class:'btn btn-danger btn-lg' %>
  </div>

  <div>
    <% if user_signed_in? %>
        <div class="container index_home row">
          <div class="col-xl-6">
            <div class="mb-4">
              <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i>
                  <h3>Elo Comparison</h3>
                  <%= pie_chart @player_stats, colors: ["#FA0C08", "#E00001", "#C80004", "#EF8000", "#FCA102", "#FEBA05", "#FA8223", "#C91414"], dataset: {borderWidth: 1.5}  %>
              </div>
              <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="mb-4">
              <div class="card-header">
                  <i class="fas fa-chart-bar mr-1"></i>
                    <h3>Winner</h3>
                      <%= pie_chart @chartz, colors: ["#FA0C08", "#E00001", "#C80004", "#EF8000", "#FCA102", "#FEBA05"], dataset: {borderWidth: 1.5} %>
                </div>
              <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
              </div>
          </div>
      </div>
    <% end %>
  </div>

  <div>
    <% if admin_user_signed_in? %>
        <div class="container index_home row">
          <div class="col-xl-6">
            <div class="mb-4">
              <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i>
                  <h3>Elo Comparison</h3>
                  <%= pie_chart @player_stats, colors: ["#FA0C08", "#E00001", "#C80004", "#EF8000", "#FCA102", "#FEBA05", "#FA8223", "#C91414"], dataset: {borderWidth: 1.5}  %>
              </div>
              <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="mb-4">
              <div class="card-header">
                  <i class="fas fa-chart-bar mr-1"></i>
                    <h3>Winner</h3>
                      <%= pie_chart @chartz, colors: ["#FA0C08", "#E00001", "#C80004", "#EF8000", "#FCA102", "#FEBA05"], dataset: {borderWidth: 1.5} %>
                </div>
              <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
              </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="bloque-130"></div>
