<div class="container">
  <%= form_with(model: [@tournament, @round], class: "form-group mb-4" ) do |form| %>
    <% if round.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(round.errors.count, "error") %> prohibited this round from being saved:</h2>

        <ul>
          <% round.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field mb-2">
      <%= form.date_field :date, class: "form-control", placeholder: "Date" %>
    </div>

    <div class="field mb-2">
      <%= form.number_field :number, class: "form-control", placeholder: "number"  %>
    </div>

    <div class="field mb-2">
      <%= form.text_field :tournament_id, class: "form-control", placeholder: "Tournament_id"  %>
    </div>

    <div class="actions">
      <%= form.submit :class => 'btn btn-dark rounded my-4' %>
    </div>

  <% end %>
</div>
