<tr>  
  <td><%= round.date %></td>
  <td><%= round.number %></td>
  <td><%= round.tournament_id %></td>
  <td><%= link_to 'Show'  %></td>
  <td><%= link_to 'Edit' %></td>
  <td><%= link_to 'Destroy' %></td>
</tr>