<tr>  
  <td><%= round.date %></td>
  <td><%= round.number %></td>
  <td><%= round.tournament_id %></td>
  <td><%= link_to 'Show', [round.tournament, round] %></td>
  <td><%= link_to 'Edit', edit_tournament_round_path(round.tournament, round) %></td>
  <td><%= link_to 'Destroy', [round.tournament, round], method: :delete %></td>
</tr>