<div class="container"> 
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Date:</strong>
    <%= @round.date %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= @round.number %>
  </p>

  <p>
    <strong>Tournament:</strong>
    <%= @round.tournament_id %>
  </p>

  <%= link_to 'Edit', edit_tournament_round_path(@round) %> |
  <%= link_to 'Back', tournament_rounds_path %>

  <div class="py-3">
    <%= link_to 'New games', round_games_path(@round), class: 'btn btn-dark rounded my-4' %>
  </div>
</div>
