<div class="container">  
  <%= form_with(model: tournament, class: "form-group mb-4") do |form| %>
    <% if tournament.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

        <ul>
          <% tournament.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :event_code %>
      <%= form.number_field :event_code, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :city %>
      <%= form.text_field :city, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :country %>
      <%= form.text_field :country, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :players_quantity %>
      <%= form.number_field :players_quantity, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :start_date %>
      <%= form.date_select :start_date, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :end_date %>
      <%= form.date_select :end_date, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :total_rounds %>
      <%= form.number_field :total_rounds, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :system %>
      <%= form.number_field :system, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :time_control %>
      <%= form.number_field :time_control, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :referee_id %>
      <%= form.text_field :referee_id, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit :class => 'btn btn-info my-3' %>
    </div>
  <% end %>
</div>