<tr>
  <td><%= tournament.event_code %></td>
  <td><%= tournament.name %></td>
  <td><%= tournament.city %></td>
  <td><%= tournament.country %></td>
  <td><%= tournament.players_quantity %></td>
  <td><%= tournament.start_date %></td>
  <td><%= tournament.end_date %></td>
  <td><%= tournament.total_rounds %></td> 
  <td><%= tournament.system %></td>
  <td><%= tournament.time_control %></td>
  <td><%= tournament.referee_id %></td>
</tr>
