<div class="container">
  <%= form_with(model: [@round, @game], class: "form-group mb-4") do |form| %>
    <% if game.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

        <ul>
          <% game.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field py-2">
      <%= form.number_field :player1_id, class: "form-control", placeholder: "Player1_id" %>
    </div>

    <div class="field py-2">
      <%= form.number_field :player2_id, class: "form-control", placeholder: "Player2_id" %>
    </div>

    <div class="field py-2">
      <%= form.number_field :result, class: "form-control", placeholder: "Result" %>
    </div>

    <div class="field py-2">
      <%= form.number_field :winner, class: "form-control", placeholder: "Winner" %>
    </div>

    <div class="field py-2">
      <%= form.text_field :round_id, class: "form-control", placeholder: "Round_id" %>
    </div>

    <div class="actions">
      <%= form.submit :class => 'btn btn-dark rounded mb-4' %>
    </div>
  <% end %>
</div>
<%= form_with(model: [@round, @game], method: :post, class: "form-group mb-4") do |form| %>
<div class="custom-file pb-5">
  <input type="file" name="game[csv_file]" class="custom-file-input" id="customFileLang" lang="es">
  <label class="custom-file-label" for="customFileLang">Upload file.csv</label>
</div>
  <div class="actions">
    <%= form.submit class: 'btn btn-dark rounded mb-4' %>
  </div>
<% end %>