<div class="container">
  <%= form_with(model: [@round, @game], class: "form-group mb-4") do |form| %>
    <% if game.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

        <ul>
          <% game.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.number_field :player1_id, class: "form-control", placeholder: "Player1_id" %>
    </div>

    <div class="field">
      <%= form.number_field :player2_id, class: "form-control", placeholder: "Player2_id" %>
    </div>

    <div class="field">
      <%= form.number_field :result, class: "form-control", placeholder: "Result" %>
    </div>

    <div class="field">
      <%= form.number_field :won, class: "form-control", placeholder: "Won" %>
    </div>

    <div class="field">
      <%= form.text_field :round_id, class: "form-control", placeholder: "Round_id" %>
    </div>

    <div class="actions">
      <%= form.submit :class => 'btn btn-info my-3' %>
    </div>
  <% end %>
</div>
