<div class="container">
<p id="notice"><%= notice %></p>

<h1>Games</h1>

  <table class="table table-bordered" id="table_games">
    <thead>
      <tr>
        <th>Player1</th>
        <th>Player1 elo</th>
        <th>Player2</th>
        <th>Player2 elo</th>
        <th>Result</th>
        <th>Won</th>
        <th>Player1 rtng change</th>
        <th>Player2 rtng change</th>
        <th>Round</th>
        <th colspan="3"></th>
      </tr>
    </thead>  

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.player1_id %></td>
          <td><%= game.player1_elo %></td>
          <td><%= game.player2_id %></td>
          <td><%= game.player2_elo %></td>
          <td><%= game.result %></td>
          <td><%= game.won %></td>
          <td><%= game.player1_rtng_change %></td>
          <td><%= game.player2_rtng_change %></td>
          <td><%= game.round_id %></td>
          <td><%= link_to 'Show', game %></td>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  

  <br>
  <div clas="container">
    <%= link_to 'New Game', new_game_path %>
  </div>
</div>