<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Player1:</strong>
    <%= @game.player1_id %>
  </p>

  <p>
    <strong>Player2:</strong>
    <%= @game.player2_id %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= @game.result %>
  </p>

  <p>
    <strong>Winner:</strong>
    <%= @game.winner %>
  </p>

  <p>
    <strong>Round:</strong>
    <%= @game.round_id %>
  </p>

  <%= link_to 'Edit', edit_round_game_path(@game) %> |
  <%= link_to 'Back', round_games_path %>
</div>

<div class="bloque-500"></div>
