  <div class="field">
    <%= form.label :elo1 %>
    <%= form.number_field :elo_1, class: "form-control", placeholder: 'My elo' %>
  </div>
  
  <div class="field">
    <%= form.label :elo2 %>  
    <%= form.number_field :elo_2, class: "form-control", placeholder: 'Opp. Elo' %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.select :points, [ 1, 0.5, 0 ], {selected: params[:points]} %>
  </div>

  <div class="field">
    <%= form.label :k_value %>
    <%= form.select :k_value, [ 40, 30, 20, 15, 10], {selected: params[:k_value]}, class:'form-control', placeholder: 'Select k' %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
