<tr>
  <td><%= game.player1_id %></td>
  <td><%= game.player2_id %></td>
  <td><%= game.result %></td>
  <td><%= game.round_id %></td>
  <td><%= link_to 'Show' %></td>
  <td><%= link_to 'Edit' %></td>
  <td><%= link_to 'Destroy' %></td>
</tr>