<div class="container c_dashboard">
  <% if admin_user_signed_in? %>
    <div id="layoutSidenav_content">
      
      <main>
        <div class="container-fluid">
          <h1 class="mt-4">Dashboard</h1>

          <!--DOWNLOAD FILE -->
          <div class="custom-file pb-5">
            <label class="custom-file-label"><%= link_to "Download csv template", file_path(format: "csv") %></label> 
          </div>
          <!--END DOWNLOAD FILE -->

          <div class="row">
            <div class="col-xl-6">
              <div class="card mb-4">
                <div class="card-header">
                  <i class="fas fa-chart-area mr-1"></i>
                  <h3>Elo Comparison</h3>
                  <%= pie_chart @player_stats, colors: ["#FA0C08", "#E00001", "#C80004", "#EF8000", "#FCA102", "#FEBA05", "#FA8223", "#C91414"], dataset: {borderWidth: 1.5} %>
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card mb-4">
                <div class="card-header">
                  <i class="fas fa-chart-bar mr-1"></i>
                  <h3>Winner</h3>
                  <%= pie_chart @chartz, colors: ["#FA0C08", "#E00001", "#C80004", "#EF8000", "#FCA102", "#FEBA05", "#FA8223", "#C91414"], dataset: {borderWidth: 1.5} %>
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
              </div>
            </div>
           
            <h3>Tournaments</h3>
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                DataTable
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Event code</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Players quantity</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Total rounds</th> 
                        <th>System</th>
                        <th>Time control</th>
                        <th>Referee</th>
                       </tr>
                    </thead>
                    <tbody>
                      <%= render @tournaments %>
                    </tbody>
                    <%= link_to 'New Tournament', new_tournament_path %>
                  </table>
                </div>
                <button id="top10" class="btn btn-danger rounded mb-4">Top 10 players</button>
              </div>
            </div>
          </div>
        </div>  
      </main>
    </div>
  <% end %>
</div>
<div class="bloque">
</div>
<%= javascript_pack_tag 'search_api', 'data-turbolinks-track': 'reload' %>