<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Fide number:</strong>
    <%= @player.fide_number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @player.title %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @player.full_name %>
  </p>

  <p>
    <strong>Fed:</strong>
    <%= @player.fed %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @player.gender %>
  </p>

  <p>
    <strong>B day:</strong>
    <%= @player.b_day %>
  </p>

  <p>
    <strong>Ranked player:</strong>
    <%= @player.ranked_player %>
  </p>

  <p>
    <strong>Elo:</strong>
    <%= @player.elo %>
  </p>

  <p>
    <strong>Ranked opponents:</strong>
    <%= @player.ranked_opponents %>
  </p>

  <p>
    <strong>K value:</strong>
    <%= @player.k_value %>
  </p>

  <p>
    <strong>Last elo update:</strong>
    <%= @player.last_elo_update %>
  </p>

  <%= link_to 'Edit', edit_player_path(@player), class: "btn btn-light rounded-pill" %> |
  <%= link_to 'Back', players_path, class: "btn btn-light rounded-pill" %>
</div>
