<<<<<<< HEAD
<h1>Editing Gameplayer</h1>

<%= render 'form', gameplayer: @gameplayer %>

<%= link_to 'Show', @gameplayer %> |
<%= link_to 'Back', gameplayers_path %>
=======
  <div class="coontainer">
  <h1>Editing Gameplayer</h1>

  <%= render 'form', gameplayer: @gameplayer %>

  <%= link_to 'Show', @gameplayer %> |
  <%= link_to 'Back', gameplayers_path %>
</div>
>>>>>>> c5200f9c7c89a69442962ad8b7dc7ed4bbeaa93a
