<div class="container py-5">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>Game:</strong>
    <%= @gameplayer.game_id %>
  </p>
  
  <p>
    <strong>Player:</strong>
    <%= @gameplayer.player_id %>
  </p>

  <p>
    <strong>Rtng change:</strong>
    <%= @gameplayer.rtng_change %>
  </p>

  <%= link_to 'Edit', edit_gameplayer_path(@gameplayer) %> |
  <%= link_to 'Back', gameplayers_path %>
</div>
<div class="bloque"></div>