<p id="notice"><%= notice %></p>

<p>
  <strong>Elo:</strong>
  <%= @gameplayer.elo %>
</p>

<p>
  <strong>Rtng change:</strong>
  <%= @gameplayer.rtng_change %>
</p>

<p>
  <strong>Game:</strong>
  <%= @gameplayer.game_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @gameplayer.player_id %>
</p>

<%= link_to 'Edit', edit_gameplayer_path(@gameplayer) %> |
<%= link_to 'Back', gameplayers_path %>
